<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BattleshipVR</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="battleshipVR.js"></script>
    <script src="aframe-v0.3.2.min.js"></script>
    <script src="https://rawgit.com/ngokevin/kframe/master/dist/kframe.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nunjucks/2.3.0/nunjucks.min.js"></script>
  </head>
  <body>
    <a-scene>
      <a-assets>
        <script id="grid" type="text/x-nunjucks-template">
          {% for x in range(0, 10) %}
            {% for z in range(0, 10) %}
              <a-plane  position="{{x * 2 }} 0 {{ z * 2 }}"
                        rotation="-90 0 0"
                        width="1" 
                        height="1" 
                        color="{{ color }}">
              </a-plane>
            {% endfor %}
          {% endfor %}
        </script>
          
    </a-assets>
    
    <a-entity id="opponent-grid" position="0 20 -20" rotation="90 0 0">
        <a-entity template="src: #grid" data-color="#ff0000"></a-entity>
    </a-entity>   
    <a-entity id="player-grid" position = "0 0 -20" >
        <a-entity template="src: #grid" data-color="#0040ff"></a-entity>
    </a-entity> 
    
    <a-sky color="#ECECEC"></a-sky>
    
    <a-entity position="10 2 1">
        <a-camera></a-camera>
    </a-entity>
    </a-scene>
  </body>

</html>
